.app{
  margin: 0;
}

.app{
  height: 100vh;
  display: grid;
  /* align-items: center; */
  place-items: center;
}
.app_body {
  display: flex;
  background-color:#ededed;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}