*{
  margin: 0;
  padding: 0;
}

body {
  /* margin: 0; */
  background-size: contain;
  background-color: blanchedalmond;
  /* background-image: url('https://preview.redd.it/xsd14fpxa7l41.jpg?auto=webp&s=741119bf691c028997342c9dc1c4af1573ab1f39'); */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
